[Unit]
Description=Provision the HostAutoFW Redfish Host Interface user (X570D4I-2T)
Wants=xyz.openbmc_project.User.Manager.service
After=xyz.openbmc_project.User.Manager.service
# bmcweb must be able to authenticate the BIOS as soon as the host powers on.
Before=bmcweb.service
ConditionPathExists=/usr/libexec/x570d4i2t-hostfw-user.sh

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/x570d4i2t-hostfw-user.sh

[Install]
WantedBy=multi-user.target
