[Match]
Name=usb0

[Link]
MACAddress=02:00:16:92:54:17

[Network]
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=true
Address=169.254.0.17/16
Scope=global

[Link]
RequiredForOnline=no
